h1 {
    text-align: center;

    font-size: 68px;
}

ul {
    list-style: none;
    font-size: 24px;

    padding-left: 0px;
    margin-left: 45px;
}

.notepad-app {
    max-width: 550px;

    margin-left: auto;
    margin-right: auto;
}

.new-note {
    font-size: 24px;
}

.toggle {
    margin-left: -14px;

  }

.toggle-all:checked + label:before {
	color: #737373;
}

.destroy {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .toggle-all + label:before {
    content: "🔽";
  }

  .toggle-all {
    display: none;
  }

  

