h1 {
    text-align: center;

    font-size: 500%;
}

ul {
    padding-left: 0px;
    list-style: none;
}

.notepad-app {
    text-align: center;
}

.toggle {
    margin-left: -14px;
  }


.toggle-all + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
	color: #737373;
}

