h1 {
  text-align: center;

  font-size: 68px;
}

.notepad-app {
  max-width: 550px;

  margin-left: auto;
  margin-right: auto;
}

form {
  width: 100%;
}

.new-note {
  font-size: 24px;

  width: inherit;
  padding: 0px;
  border: 0px;
}

.delete {
  padding: 0px;
  border: 0px;

  background-color: transparent;
}

.toggle-all+label:before {
  content: "🔽";
}

label[for="toggle-all"] {
  margin-top: auto;
  margin-bottom: auto;
}

.toggle-all {
  display: none;
}

#input-box {
  display: flex;

  border: 1px;
  border-style: solid;
  border-color:#aaa;
}

.toggle {
  margin-left: 0px;
}

.note-list {
  list-style: none;
  font-size: 24px;

  padding-left: 0px;
  margin-left: 8px;
  margin: 0px;
}

.item {
  display: flex;
  background-color: #eee;
  padding: 5px;
  align-items: center;

  margin:0px;
  border: 1px;
  border-top: 0px;
  border-style: solid;
  border-color:#aaa;
}

.item>span {
  margin-left: auto;
  background-color: #aaa;
  padding: 5px;
  cursor: pointer;
}

.toggle {
  margin-left: 0px;
}

#numberOfActiveNotes {
  float: left;
  text-align: left;
  margin: 0px;

  color: #000000;
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}
#filters li {
  display: inline;
}

#clear {
  float: right;
  position: relative;
  text-decoration: none;
}

#footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  
  padding: 10px;

  border: 1px;
  border-top: 0px;
  border-style: solid;
  border-color:#aaa;
}
